html {
  scroll-behavior: smooth;
}

.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* .container {
  margin: auto 5rem;
}

@media (max-width: 500px) {
  .container {
    margin: auto 2rem;
  }
} */